body{
    background-color: lightgray; 
}


.navbar{
    max-height: 52px; 
}


.navigation .navbar-brand{
    color: white; 
    margin-left: 10px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-color: whitesmoke; 
    font-size: 16px; 
    /* font-weight: bold; */
}

/* --------------------------------------------------------------------- */

/* Images */
img{
    width:100%;
    height:100%;
}
.active, .panel:hover{
    border-color:lightseagreen;
    border-style: solid; 
    
}
.vizualization{
    width:50%;
    height:50%;
}

/* Title Class  */
.title{
    color:lightseagreen;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px;
}
/* Paragraph Element */
p{
 color:gray;
 font-family: Georgia, 'Times New Roman', Times, serif ;
 font-size: 18px; 
}
/* Box Class */
.box {
    margin-top: 55px; 
    margin-bottom: 55px; 
    padding: 10px 40px 15px; 
    color:black;
    background-color: white; 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: white; 
}

/* -------------------------------------------------------------------- */

/* Media Queries */
@media(max-width: 992px){
.navigation .navbar-expand-lg{
background-color:lightseagreen !important;
}

.navbar{
    max-height: none; 
    padding: inherit;
}

.navbar div{
    margin: inherit; 
    background-color: whitesmoke;  
}

.navbar-brand{
    padding: 10px; 
}

button{
    margin-right: 10px;
}
